html {
    background-color: #EEE2DE;
    font-size: 15px;
}

.headdiv {
    width: 100%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
}

img {
    border: solid #EA906C;
    border-width: 5px 5px;
    width: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #B31312;
    text-transform: uppercase;
}

p {
    color: #2B2A4C;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}